# アプリケーションの設定等を保存するファイル

default: &default
  # openai apiのキー（sampleの方に具体的な値を書かないこと！）
  openai_key: 'XXXXXXXX'
  # openai apiへのリクエストにスタブを使用する場合は true に設定
  use_openai_stub: false
  # サイトタイトル
  title: 'ChatGPT Web版クローンアプリ'
  # 過去何セット分のメッセージを送信可能か（ユーザーの送信とGPTの回答で1セットとする。3セットの場合、都合6回のメッセージとなる。）
  max_prev_message_count: 5

development:
  <<: *default
  use_openai_stub: true  # 開発環境ではデフォルトでスタブを使用

test:
  <<: *default
  use_openai_stub: true  # テスト環境ではデフォルトでスタブを使用

production:
  <<: *default
  use_openai_stub: false  # 本番環境では常に false
