/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

main {
  background-color: #eeeeee;
}

.gpt-message .box {
  background-color: #a6f1b9;
  margin-bottom: 0;
  width: fit-content; /* コンテンツに合わせた幅 */
  margin-right: 6em;
}

.gpt-message .copy {
  margin-right: 6em;
  margin-bottom: 3em;
}

.user-message .box {
  background-color: #b0e8f1;
  margin-bottom: 0;
  width: fit-content; /* コンテンツに合わせた幅 */
  margin-left: 4em;
  margin-right: 1em;
}

.user-message .copy {
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.message-content-input {
  /* max-width: 70%; *//* 最大幅を設定 */
  margin-right: 1em;
}
