<%= link_to t("common.new"), new_admin_gpt_model_path, class: 'button is-primary is-light is-normal mb-4' %>

<% if @gpt_models.empty? %>
  <p class="is-size-6"><%= t("common.no_data") %></p>
<% else %>
  <%= render("index_table", gpt_models: @gpt_models) %>
<% end %>

