<%# todo: navbarメニューをモバイル表示（1024px以下）のとき非表示となる。別途ハンバーガーメニューを追加することを検討する。(navbar-burgerクラスでできそう) %>

<%# is-fixed-top で固定表示にする。 %>
<header class="navbar is-fixed-top">
  <div class="navbar-menu">

    <div class="navbar-start">
      <div class="is-size-3">
        ChatGPT Web版クローンアプリ
      </div>
    </div>

    <div class="navbar-end">
      <% if false %>
      ここにflashメッセージを置くのは一旦諦める。
      ・太いので、メインメニューのmarginの調整が必要
      ・画面幅を小さくするとサイドメニューと被る
      <div class="navbar-item">
        <div class="">
          <%= render("layouts/flash_messages") %>
        </div>
      </div>
      <% end %>
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control">
            <%= text_field_tag :search, nil, placeholder: '検索', class: "input" %>
          </div>
          <div class="control">
            <a class="button is-info"><i class="fa fa-search"></i>検索</a>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <%= link_to(
          'ログアウト',
          destroy_user_session_path,
          class: 'navbar-item button delete-link fa fa-door-open',
          data: { confirm: 'ログアウトしますか？', method: 'delete' }
        ) %>
      </div>
    </div>
  </div>
</header>

<%# setupDeleteLinksは application.html.erb で共通化済み %>
