<div class="sidebar-message-thread-link">
  <%= link_to('新しいチャット', new_chat_path) %>
</div>

<% @message_threads.each do |message_thread| %>
  <div class="sidebar-message-thread-link">
    <%= link_to(message_thread.title, chat_path(message_thread)) %>
  </div>
<% end %>
