<aside class="box">
  <div class="sidebar-message-thread-link <%= 'selected' if @message_thread.nil? %>">
    <%= link_to(new_chat_path) do %>
      <i class="fa fa-plus"></i>
      <span>新しいチャット</span>
    <% end %>
  </div>

  <% @message_threads.each do |message_thread| %>
    <div class="sidebar-message-thread-link <%= 'selected' if message_thread.id == @message_thread&.id %>">
      <%= link_to(message_thread.title, chat_path(message_thread)) %>
    </div>
  <% end %>
</aside>