
<aside class="box has-background-white-ter scrollable-sidebar">
  <div class="sidebar-tag-link mb-2">
    <%= link_to(new_chat_path) do %>
      <i class="fa fa-comments"></i>
      <span>チャット</span>
    <% end %>
  </div>

  <div class="sidebar-tag-link mb-2 selected">
    <%= link_to(new_tag_path) do %>
      <i class="fa fa-tags"></i>
      <span>タグ管理</span>
    <% end %>
  </div>
</aside>